.wrapper {
  margin: 0 20px;

  .title {
    color: rgb(53, 117, 211);
    text-align: center;
  }
  .title,
  .date {
    background-color: rgba(90, 180, 170, 0.1);
    border-radius: 5px;
  }

  .date {
    display: block;
    text-align: center;
  }

  .content,
  .image-container {
    background-color: rgba(140, 150, 190, 0.2);
    border-radius: 5px;
    .image {
      border-radius: 5px;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .title {
      font-size: 1.5rem;
      margin-bottom: 15px;
      padding: 10px;
    }
    .date {
      font-size: 1.3rem;
      margin-bottom: 15px;
      padding: 10px;
    }

    .image-container {
      padding: 10px;
      margin-bottom: 15px;
      .image {
        max-width: 100%;
      }
    }
    .content {
      font-size: 1.3rem;
      padding: 10px;
    }
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  .wrapper {
    .title {
      font-size: 1.7rem;
      margin-bottom: 18px;
      padding: 13px;
    }
    .date {
      font-size: 1.5rem;
      margin-bottom: 18px;
      padding: 13px;
    }

    .image-container {
      padding: 13px;
      margin-bottom: 18px;
      .image {
        max-width: 100%;
      }
    }
    .content {
      font-size: 1.5rem;
      padding: 13px;
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
    .title {
      font-size: 1.9rem;
      margin-bottom: 21px;
      padding: 16px;
    }
    .date {
      font-size: 1.7rem;
      margin-bottom: 21px;
      padding: 16px;
    }

    .image-container {
      padding: 16px;
      margin-bottom: 21px;
      .image {
        margin: 0 auto;
        max-width: 50%;
      }
    }
    .content {
      font-size: 1.5rem;
      padding: 16px;
      margin-bottom: 50px;
    }
  }
}
