.wrapper {
  margin: 0 20px;

  .title {
    color: rgb(53, 117, 211);
  }

  .title,
  .yearType,
  .seasons {
    background-color: rgba(90, 180, 170, 0.1);
    border-radius: 5px;
    text-align: center;
  }

  .types-container {
    .type-box {
      border: 3px solid #ddd;
    }

    .information,
    .image-container {
      background-color: rgba(140, 150, 190, 0.2);
      border-radius: 5px;
      .image {
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    .types-container {
      .type-box {
        margin-bottom: 50px;
        .title {
          font-size: 1.5rem;
          margin-bottom: 15px;
          padding: 10px;
        }
        .show-details {
          font-size: 1.6rem;
          margin-bottom: 15px;
          .yearType {
            margin-bottom: 15px;
            padding: 10px;
          }
          .seasons {
            padding: 10px;
          }
        }
        .image-container {
          max-width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          .image {
            width: 100%;
          }
        }
        .information {
          font-size: 1.4rem;
          margin-bottom: 15px;
          padding: 10px;
        }
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  .wrapper {
    .types-container {
      .type-box {
        margin-bottom: 70px;
        .title {
          font-size: 1.9rem;
          margin-bottom: 18px;
          padding: 13px;
        }
        .show-details {
          font-size: 1.8rem;
          margin-bottom: 18px;
          .yearType {
            margin-bottom: 18px;
            padding: 13px;
          }
          .seasons {
            padding: 13px;
          }
        }
        .image-container {
          width: 100%;
          padding: 13px;
          margin-bottom: 18px;
          .image {
            margin: 0 auto;
            max-width: 350px;
          }
        }
        .information {
          font-size: 1.6rem;
          margin-bottom: 18px;
          padding: 13px;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
    .title {
      font-size: 2.5rem;
      margin-bottom: 21px;
      padding: 16px;
    }

    .types-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .type-box {
        margin-right: 15px;
        margin-bottom: 90px;

        .show-details {
          font-size: 1.7rem;
          margin-bottom: 21px;
          .yearType {
            margin-bottom: 21px;
            padding: 16px;
          }
          .seasons {
            padding: 16px;
          }
        }
        .image-container {
          width: 100%;
          padding: 16px;
          margin-bottom: 21px;
          .image {
            margin: 0 auto;
            max-width: 350px;
          }
        }
        .information {
          font-size: 1.5rem;
          margin-bottom: 21px;
          padding: 16px;
        }
      }
    }
  }
}
